# Python
__pycache__/
*.py[cod]
.venv/
venv/
.env
.env.*

# Node
node_modules/
dist/
build/
.vite/

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

